# Data Science - Python and Pandas


## Table of Content

1. [Introduction](#introduction)<br>
1.1. [Series and DataFrames](#series)<br>
1.2. [Indexing](#index)<br>
1.3. [Data Selection](#selection)<br>
2. [Transform data](#transform)<br>
2.1. [Adding and deleting columns](#columns)<br>
2.2. [Cleaning Data](#cleaning)<br>
2.3. [Merging Data](#merging)<br>
2.4. [Grouping Data](#grouping)<br>
3. [Visualise data](#visualise)<br>
4. [Optional Excercises and further learning](#extra)<br>

Let's start with loading the packages and a quick look at some data. Select the below cell by clicking on it, and then click on the `Run` button at the top of the notebook (or use `Shift+Enter`). This is how you can run all code cells in this notebook. The numbers in front of the cells tell you in which order you have run them, for instance `[1]`. When you see a `[*]` the cell is currently running and `[]` means you have not run the cell yet. **It is important to run all cells!**

In [ ]:
!pip install --upgrade seaborn

After running the first cell with code above, restart the notebook by clicking on the `Kernel` tab at the top of the notebook, and then `Restart`. You do not have to run the above cell again after the restart as updating the seaborn package only has to be done once. It is best to do this now instead of finding out later in the notebook that this package is out of date.

Now run the next cell that will import two other packages:

In [ ]:
import numpy as np
import pandas as pd

With Pandas it is easy to load a csv file. Let's load a file by running the following cell:

In [ ]:
df = pd.read_csv('../data/london-borough-profiles.csv',encoding = 'unicode_escape')

<div class="alert alert-danger" style="font-size:100%">
If you are using <b>Watson Studio</b> to run the workshop you will get an error with the above, because you have no local files in the data folder. First store the data in your Cloud Object Store (COS) by adding the files in the menu on the right of the notebook (if you see no menu, click the <b><font face="Courier">1010</font></b> button at the top first) and then load the data by following these steps:



<ul>
  <li>Activate the below cell, move the cursor to the empty line under  <b><font face="Courier"># add data</font></b></li>
  <li>Click on <b><font face="Courier">Insert to code</font></b> under the file from the right menu</li>
  <li>Select <b><font face="Courier">Insert pandas DataFrame</font></b></li>
  <li>Code to load the file will be inserted</li>
  <li>Change the default name of the data from <b><font face="Courier">df_data_1</font></b> to <b><font face="Courier">df</font></b> at the bottom two lines of the inserted code and add <b><font face="Courier">encoding = 'unicode_escape'</font></b> after <b><font face="Courier">body,</font></b> </li>
    <li>Then run the cell to load the data</li>
   </ul> 
   
  <ul></ul>
   <ul></ul>
   
  <i>  The Dataset 'london-borough-profiles.csv' used in this notebook was acquired from <a href="https://data.gov.uk/dataset/248f5f04-23cf-4470-9216-0d0be9b877a8/london-borough-profiles-and-atlas">london-borough-profiles</a>   <i>
    

</div>

In [ ]:
# add data

<div class="alert alert-success">
 <b>EXERCISE</b> <br/> 
 Now let's have a look at the data that was loaded into the notebook. What are we actually looking at? Use for instance df, df.head() or df.tail() to see different parts of the table and jeans.dtypes to check which variables there are and what datatype they have. Add a number between the emply brackets () to specify how many lines you want to display.
    
  Explore some of the following commands:
  <ul>
  <li><font face="Courier">df.head()</font></li>
  <li><font face="Courier">df.tail()</font></li>
  <li><font face="Courier">df.columns</font></li>
  <li><font face="Courier">df.values</font></li>
  <li><font face="Courier">len(df)</font></li>
  <li><font face="Courier">list(df)</font></li>
  </ul>
</div>  

> *Tip*: If you want to run these in separate cells, activate the below cell by clicking on it and then click on the + at the top of the notebook. This will add extra cells. Click on the buttons with the upwards and downwards arrows to move the cells up and down to change their order.

In [ ]:
# try the commands here (add as many cells as you need):

<a id="introduction"></a>
## 1. Introduction

The Python package you used to read this file and look at some of it's properties is [Pandas](https://pandas.pydata.org/), which is an open source library with easy-to-use data structures and data analysis tools. 

<div class="alert alert-info" style="font-size:100%">
<b>Read this <a href="http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html">10 minute introduction</a> for a quick overview of Pandas.<br>
</div>

<a id="series"></a>
### 1.1 Series and DataFrames 

Let's go through some of the basics of Pandas before going back to the London dataset. Pandas has two main data structures: `Series` and `DataFrames`. 

A `Series` is a list of values with an integer index. The first column is the index (the default starts at 0) and the second column the values.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

 A `DataFrame` is similar, but has multiple columns. You can create one in many ways, by loading a file or from for example a NumPy array and a date for the index. (We come back to the index and dates later) 


<div class="alert alert-info" style="font-size:100%">
<b>Read this <a href="https://docs.scipy.org/doc/numpy-1.15.0/user/quickstart.html"> tutorial</a> for an overview of NumPy.<br>
</div>

Two examples:

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
numbers = np.random.randn(6, 4)
numbers

In [ ]:
df1 = pd.DataFrame(numbers, index=dates, columns=list('ABCD'))
df1

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D': np.array([3] * 4, dtype='int32'),
                     'E': pd.Categorical(["test", "train", "test", "train"]),
                     'F': 'foo'})

In [ ]:
df2.head()

To find out what the data type is of a variable use `type()`:

In [ ]:
print('Data type of s is '+str(type(s)))
print('Data type of s is '+str(type(dates)))
print('Data type of s is '+str(type(numbers)))
print('Data type of df is '+str(type(df1)))

In [ ]:
type(df)

<a id="index"></a>
### 1.2 Indexing 

It is important to understand the `index` to work with dataframes, so let's explore this a little. We will com back to it more later. 

For this we will make a copy of the `df` DataFrame:

In [ ]:
boroughs = df.copy()

In [ ]:
boroughs.head()

In [ ]:
list(boroughs)

In [ ]:
boroughs.index

In [ ]:
boroughs = boroughs.set_index('Area_name')
boroughs.head()

In [ ]:
boroughs.index

In [ ]:
boroughs = boroughs.reset_index()
boroughs = boroughs.set_index(['Area_name','Inner/_Outer_London'])
boroughs.head()

In [ ]:
boroughs.index

In [ ]:
boroughs = boroughs.reset_index()
boroughs = boroughs.set_index(['Area_name'])

<a id="selection"></a>
### 1.3 Data Selection

Select a single label or a range of labels with `.loc[]` (This only works for the column that was set to the index):

In [ ]:
boroughs.loc['City of London', 'Inland_Area_(Hectares)']

In [ ]:
boroughs.loc['City of London':'Bexley', ['Inland_Area_(Hectares)', 'Average_Age,_2017']]

Or select by position with `.iloc[]`. You can select a single row, multiple rows (or columns) at particular positions in the index, it only takes integers:

In [ ]:
boroughs.iloc[0]

In [ ]:
boroughs.iloc[:,1]

In [ ]:
boroughs.iloc[:,0:2]

In [ ]:
boroughs.iloc[2:4,0:2]

You can also use one or more column names to create a new DataFrame.

In [ ]:
boroughs['Inland_Area_(Hectares)']

In [ ]:
boroughs2 = boroughs[['Inland_Area_(Hectares)', 'Average_Age,_2017']]
boroughs2

#### Filtering

Selecting rows based on a certain condition can be done with Boolean indexing:

In [ ]:
boroughs['Average_Age,_2017'] > 40

If you want to select the data add `boroughs[]` around the above:

In [ ]:
boroughs[boroughs['Average_Age,_2017'] > 38]

Combining different columns using `&`, `|` and `==` is also possible"

In [ ]:
boroughs[(boroughs['Average_Age,_2017'] > 38) & (boroughs['GLA_Population_Estimate_2017'] > 100000)]

In [ ]:
boroughs[(boroughs['Average_Age,_2017'] < 38) | (boroughs['GLA_Population_Estimate_2017'] < 1000000)]

In [ ]:
boroughs[boroughs['Average_Age,_2017'] == 40.2]

<div class="alert alert-success">
 <b>EXERCISE</b> <br/> 
 With the above commands you can now start exploring the data some more. Answer some of the following questions by writing a little code (add as many cells as you need):
  <ul>
  <li>Which Area has the largest Density per hectare in 2017? </li>  
  <li>Maximum and Minimum number of New Migrants in 2015/2016</li>   
  <li> Extract the entire row for the borough with the highest happiness score </li>
  <li> Which Area has the third largest population by county of birth in 2011 as 'Romania' </li>
  
 </ul>  
</div>  


> *Tips*: 
- Find the maximum of a row with for instance `boroughs['Population'].max()` 
- Extract the value from a cell in a DataFrame with `.value[]`
- Print a value with `print()` for instance: `print(boroughs['area'][0])` for the first row. If you calculate multiple values in one cell you will need this, else the answers will not be displayed.
- To extract an entire row use `idxmax()` which returns column with maximum value, and `.loc[]` to return row of the index
- To see the answer uncomment the line in the cell that contains `%load` (by deleting the `#`) and then run the cell, but try to find your own solution first in the cell above the solution!

In [ ]:
#Answer 1

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer1.py

In [ ]:
#Answer 2

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer2.py

In [ ]:
#Answer 3

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer3.py

In [ ]:
#Answer 4

In [ ]:
#%load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer4.py

<a id="transform"></a>
## 2. Transform Data

When looking at data there are always transformations needed to get it in the format you need for your analysis, visualisations or models. 

These are a few examples of the endless possibilities. The best way to learn is to find a dataset and try to answer questions with the data. The Pandas documentation is real good, and on StackOverflow there is almost always someone who asked the same question already. 

<a id="columns"></a>
### 2.1 Adding and deleting columns
Adding a column can be done by defining a new column, which can then be dropped with 'drop'.

In [ ]:
boroughs['new'] = 1
boroughs.head()

In [ ]:
boroughs = boroughs.drop(columns='new')
boroughs.head()

In [ ]:
boroughs['House Size'] = boroughs['Inland_Area_(Hectares)'] / boroughs['GLA_Population_Estimate_2017']
boroughs.head()

<a id="cleaning"></a>
### 2.2 Cleaning Data

Things to check:

- Is the data tidy: each variable forms a column, each observation forms a row and  each type of observational unit forms a table.
- Are all columns in the right data format?
- Are there missing values?
- Are there unrealistic outliers?

Get a quick overview of the numeric data with `.describe()`. If any of the numeric columns is missing this is a probably because of a wring data type.

In [ ]:
boroughs.describe()

<a id="Renaming"></a>
### 2.2 Renaming Columns

You can change names of columns using the rename function. One of the biggest advantages of using rename function is that we can use rename to change as many column names as we want. 

Ex : 
DataFrame.rename(columns={'Coun':'Country',
                          'Emp':'Employment',
                           'Cont' : 'Continent'}, 
                          
In the below we are changing the name of a single column. We are also going to use inplace=True to change column names in place.

In [ ]:
boroughs.rename(columns={'%_of_largest_migrant_population_(2011)':'largest_migrant_population_2011(%)'}, 
                 inplace=True)

Use the print function to check if the column name has changed as desired

In [ ]:
print(boroughs.columns)

In [ ]:
boroughs.head()

You can also use the rename funtion to change row indexes or row names.

In [ ]:
boroughs.rename(index={0:'zero',1:'one'})

It is not always ideal to have text in the table. Especially not if you want to create a model from the data. It is better to transform the data with `get.dummies()`. The below will add 4 new columns to the DataFrame:

In [ ]:
boroughs.head()

In [ ]:
boroughs2 = boroughs.copy()
Code = pd.get_dummies(boroughs2['Code'], drop_first=True)
boroughs2 = boroughs2.join(Code)
boroughs2.head(2)

Or do this all in one line of code:

In [ ]:
borough = boroughs.join(pd.get_dummies(boroughs['Code'], drop_first=True))
boroughs.head(2)

<a id="merging"></a>
### 2.3 Merging Data

There are several ways to combine data. The [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) has lots of examples. You can combine data with `.append()` or `.concat()`:

In [ ]:
data = {'city':       ['London','Manchester','Birmingham','Leeds','Glasgow'],
        'population': [9787426,  2553379,     2440986,    1777934,1209143],
        'area':       [1737.9,   630.3,       598.9,      487.8,  368.5 ]}
cities = pd.DataFrame(data)

data2 = {'city':       ['Liverpool','Southampton'],
        'population': [864122,  855569],
        'area':       [199.6,   192.0]}
cities2 = pd.DataFrame(data2)

These new cities can be added with `append()`:

In [ ]:
cities = cities.append(cities2)
cities

In [ ]:
data = {'city': ['London','Manchester','Birmingham','Leeds','Glasgow'],
        'density': [5630,4051,4076,3645,3390]}
cities3 = pd.DataFrame(data)

In [ ]:
cities3

An extra column can be added with `.merge()` with an outer join using the city names:

In [ ]:
cities = pd.merge(cities, cities3, how='outer', sort=True,on='city')
cities

Data that does not quite fit can be merged as well:

In [ ]:
data = {'city':       ['Newcastle','Nottingham'],
        'population': [774891,  729977],
        'area':       [180.5,   176.4]}

cities4 = pd.DataFrame(data)
cities4

In [ ]:
cities = cities.append(cities4)
cities

<a id="grouping"></a>
### 2.4 Grouping Data

Grouping data is a quick way to calculate values for classes in your DataFrame. The example below gives you the mean values of all variables for `Inner/Outer London`, and for a combination of all classes when `Area name` and `Resident Population born abroad` are combined.

In [ ]:
boroughs.columns
boroughs.head()

In [ ]:
boroughs.groupby(['Inner/_Outer_London']).mean()

In [ ]:
boroughs.groupby(['Area_name','%_of_resident_population_born_abroad_(2015)']).max().head(10)

<a id="explore"></a>
## 3. Visualizing Data

In [ ]:
# without this the plots would be opened  in a new window (not browser)
# with this instruction plots will be included in the notebook
%matplotlib inline

import matplotlib.pyplot as plt

As we reset the Index to Area Name earlier in the notebook, We would need to reset it again to be able to use the Area Names in our maps

In [ ]:
boroughs = boroughs.reset_index()

The default plot is a line chart:

In [ ]:
boroughs['Employment_rate_(%)_(2015)'].plot();

To create a plot that makes more sense for this data have a look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) for all options. A histogram might work better. Go ahead and change the number of bins until you think the number of bins looks right:

In [ ]:
boroughs['Employment_rate_(%)_(2015)'].plot.hist(bins=6);

Change the size of the plot with `figsize`:

In [ ]:
boroughs['Employment_rate_(%)_(2015)'].plot.hist(bins=15,figsize=(10,5));

You can select data as you learned earlier, direclty in a plot command. The below plot shows the Employment Rate only in Outer London

In [ ]:
boroughs['Employment_rate_(%)_(2015)'][boroughs['Inner/_Outer_London']=='Outer London'].plot.hist(bins=15,figsize=(10,5));

To add the Employment Rate for Inner London as well, simply repeat the plot command with a different selection of the data:

In [ ]:
boroughs['Employment_rate_(%)_(2015)'][boroughs['Inner/_Outer_London']=='Outer London'].plot.hist(bins=15,figsize=(10,5));
boroughs['Employment_rate_(%)_(2015)'][boroughs['Inner/_Outer_London']=='Inner London'].plot.hist(bins=15,figsize=(10,5));

The above plot is difficult to read as the histograms overlap. You can fix this by changing the colours and making them transparant. To add a legend each histogram needs to be assigned to an object `ax` that is used to create a legend:

In [ ]:
ax = boroughs['Employment_rate_(%)_(2015)'][boroughs['Inner/_Outer_London']=='Outer London'].plot.hist(
    bins=15,figsize=(10,5),alpha=0.5,color='#1A4D3B');
ax = boroughs['Employment_rate_(%)_(2015)'][boroughs['Inner/_Outer_London']=='Inner London'].plot.hist(
    bins=15,figsize=(10,5),alpha=0.5,color='#4D1A39');
ax.legend(['Inner London','Outer London']);

It is easy to change pretty much everything as in the below code. This was the ugliest I could come up with. Can you make it worse?

In [ ]:
boroughs['Population_density_(per_hectare)_2017'].plot.hist(
    bins=15, 
    title="Population Density",
    legend=False,
    fontsize=14,
    grid=False,
    linestyle='--',
    edgecolor='black',
    color='darkred',
    linewidth=3);

## Seaborn

Seaborn is an easy to use visualisation package that works well with Pandas DataFrames. Below are a few examples, but have a look at the [documentation](https://seaborn.pydata.org/index.html) as there are many more plots you could make.

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(boroughs['Population_density_(per_hectare)_2017'].dropna());

In [ ]:
sns.catplot(x='Turnout_at_2014_local_elections', y='Political_control_in_council', data=boroughs);

In [ ]:
sns.catplot(x='Median_House_Price,_2015', y='Area_name', kind='swarm', data=boroughs, );

In [ ]:
sns.catplot(x="Employment_rate_(%)_(2015)", y="Largest_migrant_population_by_country_of_birth_(2011)", kind="box", data=boroughs);

In [ ]:
[fig, ax] = plt.subplots(1, figsize=(6,6))
ax=sns.scatterplot(y='Area_name', x='Political_control_in_council', data=boroughs, ax=ax);

<div class="alert alert-success">
 <b>EXERCISE</b>
 <ul>
  <li>Create two histograms that compare the Gross Annual pay for Male and Female Employees using `.plot.hist()`</li>
  <li>Create a bar plot comparing the median house prices for different Areas using a barplot</li>
  <li>Create a scatter plot comparing the Median House price and percentage of area that is greenspace </li>
  <li>Create a box plot showing the youth unemployment rate among the largest migrant population arrived during year 15-16 </li>
  <li>Explore the data further by creating more plots that can aswer questions that you have about the dataset</li>
 </ul> 
   </div> 
   
 <ul></ul> 
 <ul></ul> 
 <ul></ul> 
 
 > *Tips*:
-  Tip: to add two histograms to one plot you can repeat `.plot()` in the same cell 
-  Add a Legend by assiging each Histogram to an object `ax` which is used to create a legend
-  Tip: For a box plot in Seaborn, use `catplot` where kind = `box` 
-  To customise the size of your maps, use the example of `[fig, ax]` which customises the figsize for each map in other examples above

In [ ]:
#Answer 1

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer5.py

In [ ]:
#Answer 2

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer6.py

In [ ]:
#Answer 3

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer7.py

In [ ]:
#Answer4

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/foss4g-geopandas/master/answers/pandas_answer8.py

<a id="extra"></a>
# 4. Optional Excercises and further learning

If you finish early:

2. Try to create other plots. Have a look at the [Pandas plot examples](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) or the [Seaborn gallery](https://seaborn.pydata.org/examples/index.html) for inspiration.  
3. Or load one of your own datasets into a new notebook and play around with the data to practice what you have learned. You can use the free account you created today for your own projects as well! 
4. Have a look at these Pandas workshops and book: <br>
4.1. [Pandas workshop by Alexander Hensdorf](https://github.com/alanderex/pydata-pandas-workshop) <br>
4.2. [Pandas tutorial by Joris van den Bossche](https://github.com/jorisvandenbossche/pandas-tutorial) <br>
4.3. [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) <br>

### Authors

Margriet Groenendijk is a Data & AI Developer Advocate for IBM. She develops and presents talks and workshops about data science and AI. She is active in the local developer communities through attending, presenting and organising meetups. She has a background in climate science where she explored large observational datasets of carbon uptake by forests during her PhD, and global scale weather and climate models as a postdoctoral fellow. 

Yamini Rao is a Developer Advocate for IBM. She compiles Developer scenarios, workshops and training material based on IBM Cloud technologies to demonstrate value. She also works as a community manager, collaborating with local developer communites to organise workshops and meetups. She has a background in computer science and has worked extensively as an Implementation Engineer for various IBM Analytical tools. 

Copyright © 2019 IBM. This notebook and its source code are released under the terms of the MIT License.